**Michelle Sophia A. Abamonga**\
2 -ECEB\
PA 3 - PYTHON DATA ANALYSIS (PANDAS)

# PROBLEM 2

#### 1. Import the Pandas library in Python
Assign pandas the alias <b>pd</b> for easier reference.

In [76]:
import pandas as pd

#### 2. Load the corresponding .csv file into a data frame named cars
Make sure that the .csv file is downloaded to your default user folder in order for it to be accessible.

In [79]:
cars = pd.read_csv('cars.csv')

#### 3. Display the first five rows with odd-numbered columns (columns 1, 3, 5, 7...) of cars
Using the slicing method, you can select the odd-numbered columns with a step of 2. The <b>.head()</b> function will then display the first five selected columns from the latter condition.

In [81]:
cars.iloc[:, 0::2].head()

               Model  cyl   hp     wt  vs  gear
0          Mazda RX4    6  110  2.620   0     4
1      Mazda RX4 Wag    6  110  2.875   0     4
2         Datsun 710    4   93  2.320   1     4
3     Hornet 4 Drive    6  110  3.215   1     3
4  Hornet Sportabout    8  175  3.440   0     3

#### 4. Display the row that contains the ‘Model’ of ‘Mazda RX4’
With Bolean Indexing, the dataframe is filtered and will return a new one that contains only the rows from cars where the 'Model' column's value is 'Mazda RX4'.

In [84]:
(cars[cars['Model'] == 'Mazda RX4'])

       Model   mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
0  Mazda RX4  21.0    6  160.0  110   3.9  2.62  16.46   0   1     4     4

#### 4. Determine the number of cylinders for the car model ‘Camaro Z28’ 
Also with the use of Bolean Indexing, the dataframe is filtered and will return a series containing the values from the 'cyl' column for all rows where the 'Model' was 'Camaro Z28'

In [86]:
(cars[cars['Model'] == 'Camaro Z28']['cyl'])

23    8
Name: cyl, dtype: int64

#### 5. Determine the number of cylinders and the gear type for the ff. car models: ‘Mazda RX4 Wag’, ‘Ford Pantera L’ and ‘Honda Civic’
Again, with Boolean Indexing, the DataFrame is filtered to include only the specified car models. The <b>.isin()</b> function checks if the values in the 'Model' column match any of the values in the provided list. After filtering, the relevant information (number of cylinders and gear type) for each model is selected from the DataFrame.

In [91]:
(cars[cars['Model'].isin(['Mazda RX4 Wag', 'Ford Pantera L', 'Honda Civic'])][['cyl', 'gear']])

    cyl  gear
1     6     4
18    4     4
28    8     5